@import '../../../../utils/responsive.scss';
.text {
    color: #666666;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 14px;
}
.label {
    color: #666;
    font-size: 1.5rem;
    line-height: 1.7;
    font-weight: 500;
    display: block;
}
.input {
    border: 1px solid #e5e5e5;
    padding: 8px 6px;
    background: transparent;
    display: block;
    width: 100%;
    margin: 14px 0px 24px;
}
.btn-reset-password {
    color: #fff;
    background: var(--bg-black);
    font-size: 1.5rem;
    padding: 0 50px;
    line-height: 50px;
    min-width: 240px;
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.3s ease;
    &:hover {
        background-color: var(--hover-brown);
    }
}
.error {
    margin-bottom: 6px;
    color: red;
    display: block;
}
.loading-icon {
    animation: rotate infinite 0.8s ease;
}
@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
}

@include larger-mobile() {
    .btn-reset-password {
        width: 100%;
    }
    .text {
        text-align: justify;
    }
}
