@import '../../../../../utils/responsive.scss';
.slider-wrap {
    position: relative;
    top: 100;
    position: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: auto;
    .slider-header {
          position: relative;
          width: 100%;
          height: auto;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

@include pc(){
    .slider-header{
        img{
            height: 700px !important;
        }
    }
}
@include tablet-mobile(){
    .slider-header{
        img{
            height: 592px !important;
        }
    }
}

@include larger-mobile(){
    .slider-header{
        img{
            height: 488px !important;
        }
    }
}

@include medium-mobile(){
    .slider-header{
        img{
            height: 430px !important;
        }
    }

}
@include small-mobile(){
    .slider-header{
        img{
            height: 367px !important;
        }
    }
}

.slick-slide:focus {
    outline: 0;
    outline: none;
    border: none;
}

.slick-slide div {
    outline: none;
}
