.order-scroll{
    overflow-y: scroll;
    height: 404px;
    &::-webkit-scrollbar {
        width: 0px;
    }
}
.title-order{
    padding: 12px 22px 12px 0px;
    margin: 0 0 24px;
    color: #515151;
    border-top: 3px solid #a46497;
    list-style: none outside;
    width: auto;
    font-size: 1.6rem;
    word-wrap: break-word;
    border-top-color: #222;
    width: 100%;
}
.table {
    width: 100%;
    border-collapse: collapse;
    & td:nth-child(2){
        color: #666666;
    }
    & .td,
    .th {
        text-transform: capitalize;
        padding: 16px 30px;
        line-height: 1.7;
        vertical-align: top;
        border: 1px solid #e6e6e6;
        color: var(--color-black);
    }
    & .td{
        font-size: 1.4rem;
        color: #666666;
    }
    & .td:nth-of-type(5) .view:hover{
        color: var(--color-brown);
    }
}