@import '../../../../../utils/responsive.scss';
.error {
    margin-bottom: 6px;
    color: red;
    display: block;
}
.form-confirmPw {
    & .text-pw,
    .text-confirmpw {
        display: block;
        color: #666;
        margin-bottom: 4px;
    }
    & .box-newpw {
        margin-bottom: 16px;
        & .input-newpw {
            padding: 4px;
            display: block;
            width: 100%;
        }
    }
    & .box-confirmpw {
        margin-top: 16px;
        & .input-confirmpw {
            padding: 4px;
            display: block;
            width: 100%;
        }
    }
    & .btn-confirmpw{
        width: 25%;
        margin-top: 12px;
        padding: 14px 0px;
        background-color: var(--bg-black);
        color: var(--color-white);
        text-transform: uppercase;
        font-weight: 600;
        transition: all 0.4s ease;
        &:hover{
            background-color: var(--hover-brown);
        }
    }
}
@include tablet-mobile(){
}
@include larger-mobile(){
    .form-confirmPw{
        & .btn-confirmpw{
            width: 100%;
            padding: 14px;
            margin-top: 20px;
        }
    }

}