@import '../../../../utils/responsive.scss';
.change-pw-wrap {
    padding: 0px 7.5px;
    &:nth-child(1) {
        & .label {
            margin-top: 0px;
        }
    }
}
.field-item {
    margin-bottom: 14px;
    & .label {
        display: block;
        width: 100%;
        color: #666666;
        margin: 7px 0px;
        font-weight: 500;
        font-size: 1.4rem;
    }
    & .input {
        border: 1px solid #e5e5e5;
        padding: 8px 6px;
        background: transparent;
        border-radius: 0;
        -moz-border-radius: 0;
        width: 100%;
    }
    & .error {
        color: red;
    }
}

.btn-changepw {
    color: var(--color-white);
    background: black;
    padding: 0 50px;
    line-height: 50px;
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s ease;
    &:hover {
        background-color: var(--hover-brown);
    }
}
.user-action-container {
    display: flex;
    align-items: flex-end;
    & .lost-password {
        margin-left: 24px;
        text-transform: capitalize;
        font-size: 1.6rem;
        font-weight: 500;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            bottom: -2px;
            width: 100%;
            transform: scaleX(1);
            height: 1px;
            background-color: var(--bg-black);
            transition: transform 0.4s ease;
        }
        &:hover::before {
            transform: scaleX(0.5);
        }
    }
}
@include pc() {
    .user-action-container {
        justify-content: space-between;
    }
}
@include larger-mobile() {
    .user-action-container {
        flex-wrap: wrap;
        justify-content: center;
        & .lost-password {
            font-size: 1.4rem;
        }
    }
    .field-item {
        margin-bottom: 20px;
    }
    .btn-changepw {
        margin-bottom: 40px;
        width: 100%;
    }
}
