@import '../../utils/responsive.scss';
@include larger-mobile() {
    .Toastify__toast-container.Toastify__toast-container--top-left {
        width: 90vw;
        left: 1em;
        top: 1em;
        padding: 4px;
    }
}
